body{
  background-image: url('./night.webp');
  height: 100vh;
  color: white
}

#title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white
}

::placeholder {
  color: white;
  font-size: 1.5em;
  padding: 5px;
}

#div1{
  margin: 50px 0px;
  text-align: center;
}

#display{
  margin: 80px 0px;
  text-align: center;
}

.formInput {
  border-left-color: transparent;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-style: groove;
  background-color: transparent;
  border-bottom-width: 1.5px;
  border-top-style: hidden;
  border-left-style: hidden;
  width: 15%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 8px;
  color: white;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(255, 196, 35);
  border: none;
  color: #555555;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px 8px;
  
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}