body{
  background-image: url('./night.webp');
  height: 100vh;
  color: white;
  padding: 3%;
}

#title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white
}

h1{
  font-size: 3rem;
}

::placeholder {
  color: white;
  font-size: 1.5em;
  padding: 5px;
}

#div1{
  margin: 50px 0px;
  text-align: center;
}

#display{
  margin: 80px 0px;
  text-align: center;
  background-color: #6B69CA;
  padding: 4%;
}

.formInput {
  border-left-color: transparent;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-style: groove;
  background-color: transparent;
  border-bottom-width: 1.5px;
  border-top-style: hidden;
  border-left-style: hidden;
  width: 15%;
  margin-top: 4%;
  margin-bottom: 2%;
  padding: 8px;
  color: white;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(255, 196, 35);
  border: none;
  color: #555555;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px 8px;
  
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
h1{
  font-size: 2.5rem;
}
.button {
  font-size: 15px;
  padding: 10px 15px;
  margin: 0px 3px;
}
.formInput {
  width: 35%;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-right: 3%;
  padding: 8px;
  color: white;
}
#display h2{
  font-size: 1.2rem;
}
#display{
  margin: 80px 0px;
  text-align: center;
  background-color: #6B69CA;
  padding: 4%;
}
}

@media screen and (min-width: 481px) and (max-width: 768px){
h1{
  font-size: 3.2rem;
}
.button {
  font-size: 20px;
  padding: 10px 15px;
  margin: 0px 3px;
}
.formInput {
  width: 35%;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-right: 3%;
  padding: 8px;
  color: white;
  font-size: 1.3rem;
}
#display{
  margin: 80px 0px;
  text-align: center;
  background-color: #6B69CA;
  padding: 4%;
}
#display h2{
  font-size: 1.5rem;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
h1{
  font-size: 3.2rem;
}
.button {
  font-size: 20px;
  padding: 10px 15px;
  margin: 0px 3px;
}
.formInput {
  width: 35%;
  margin-top: 10%;
  margin-bottom: 2%;
  margin-right: 3%;
  padding: 8px;
  color: white;
  font-size: 1.3rem;
}
#display{
  margin: 80px 0px;
  text-align: center;
  background-color: #6B69CA;
  padding: 4%;
}
#display h2{
  font-size: 1.8rem;
}
}
